@font-face {
    font-family: 'futura';
    src: url('../fonts/FuturaPTMedium.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'futura';
    src: url('../fonts/FuturaPTLight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    position: relative;
    margin: 0;
    background-color: #aeacb1;
    /* background: linear-gradient(-45deg, #ff7e5f, #9970bf, #feb47b, #90b5a4, #4394a4, #9970bf, #ff7e5f); */
    /* background-size: 800% 800%; */
    /* animation: gradientBG 20s ease infinite; */
    font-family: futura;
    cursor: crosshair;
}

/* @keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(-100%);
    animation: slideIn 1s ease forwards 0.5s;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header h1 {
    color: white;
    font-size: 3em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

header .back {
    position: fixed;
    top: 45px;
    left: 40px;
    height: 30px;
}

.back #backButton {
    height: 100%;
    width: 70px;
    background-color: #9a0067;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-family: futura;
    border: 0;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.back #backButton:hover {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
}

article {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    padding-top: 120px;
    height: 100%;
    background: transparent;
}

#controls {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

#my_dataviz {
    margin-top: 20px;
    cursor: pointer;
    overflow: hidden;
}

#my_dataviz svg {
    overflow: visible;
}