@font-face {
    font-family: 'futura';
    src: url('../fonts/FuturaPTMedium.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'futura';
    src: url('../fonts/FuturaPTLight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: futura, Arial, sans-serif;
    background-color: #dbebc8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    /* background: rgba(255, 255, 255, 0.1); */
    background: #b5c7a3;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(-100%);
    animation: slideIn 1s ease forwards 0.3s;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.info-button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.info-button a {
    text-decoration: none;
    font-size: 1.2em;
    color: #000;
    font-weight: bold;
}

/* Main Content Styles */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginButton {
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4460f1;
    color: #fff;
    transition: background-color 0.3s ease;
}

#loginButton:hover {
    background-color: #354cc7;
}

body-foot {
    width: calc(100% - 120px);
    background-color: #dbebc8;
    padding: 50px 60px 20px 60px;
    position: fixed;
    bottom: 0;
}

.body-foot .foot-container {
    flex: 1 1 0%;
    position: relative;
    border-bottom: 1px solid #5c657f;
}

.body-foot .foot-bottom {
    display: block;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #8a9473;
    font-family: futura;
}


/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1001; /* Sit on top of everything */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    position: relative;
}

.close-button {
    color: #aaa;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Content Styles */
.modal-content h2 {
    text-align: center;
    margin-top: 0;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4460f1;
    color: #fff;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #354cc7;
}

.modal-content p {
    text-align: center;
}

.modal-content a {
    color: #4460f1;
    text-decoration: none;
}

.modal-content a:hover {
    text-decoration: underline;
}