@font-face {
    font-family: 'futura';
    src: url('../fonts/FuturaPTMedium.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'futura';
    src: url('../fonts/FuturaPTLight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    position: relative;
    margin: 0;
    background-color: #aeacb1;
    /* background: linear-gradient(-45deg, #ff7e5f, #9970bf, #feb47b, #90b5a4, #4394a4, #9970bf, #ff7e5f); */
    /* background-size: 800% 800%; */
    /* animation: gradientBG 20s ease infinite; */
    font-family: futura;
}

/* @keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(-100%);
    animation: slideIn 1s ease forwards 0.5s;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header h1 {
    color: white;
    font-size: 4em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

header .user {
    position: fixed;
    top: 35px;
    right: 40px;
    height: 50px;
}

.user #loginButton {
    height: 100%;
    width: 85px;
    background-color: #9a0067;
    cursor: pointer;
    color: #fff;
    font-size: 1.75em;
    font-weight: 600;
    font-family: futura;
    border: 0;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.user #loginButton:hover {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
}

#loginWindow {
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
}

#loginTitle {
    position: absolute;
    top: 50px;
    left: 174px;
    font-size: 1.5em;
    font-weight: 700;
    font-family: futura;
}

#inputWindow {
    position: absolute;
    top: 140px;
    left: 106px;
    width: 180px;
}

#userButton {
    position: absolute;
    top: 220px;
    left: 175px;
    width: 50px;
}

#closeWindow {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 25px;
}

article {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    padding-top: 120px;
    height: 100%;
    background: transparent;
}

#elements {
    width: 85%;
    margin: 150px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

#controls {
    height: 240px;
    width: 600px;
    margin: 30px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 150px;
}

#controls button {
    height: 175px;
    margin: 20px 20px;
    padding: 0 30px;
    font-family: futura;
    font-size: 3.5em;
    font-weight: 600;
    line-height: 3em;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 90px;
    border: none;
    transition: all 0.5s ease;
}

#controls button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

#controls #recordButton {
    margin: 20px 20px 20px 40px;
    background: transparent;
    border: 5px solid #000;
    color: #000;
}

#controls #stopButton {
    margin: 20px 40px 20px 385px;
    background: transparent;
    border: 5px solid #000;
    color: #000;
}

.recording-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.recording-item span {
    line-height: 3em;
    font-size: 2em;
    font-weight: 600;
}

#recordingsList #deleteButton,
#submitButton {
    width: 115px;
    margin: 0 0 0 40px;
    padding: 10px;
    font-family: futura;
    font-size: 1.75em;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.5s ease;
    background: transparent;
    border: 2px solid #000;
    color: #000;
}

#controls #recordButton:hover {
    background: linear-gradient(45deg, #3e9875, #4fb809);
    border: 3px solid #3e9875;
    color: #fff;
}

#controls #stopButton:hover {
    background: linear-gradient(45deg, #b80000, #ff3d3d);
    border: 3px solid #b80000;
    color: #fff;
}

#recordingsList #submitButton:hover {
    background: linear-gradient(-45deg, #a500a7, #f538ff);
    border: 2px solid #a500a7;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

#recordingsList #deleteButton:hover {
    background: linear-gradient(-45deg, #a76400, #ffa238);
    border: 2px solid #a76400;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

#gotoRemixer {
    --glow-color: rgb(176, 177, 255);
    --glow-spread-color: rgba(123, 127, 255, 0.781);
    --enhanced-glow-color: rgb(206, 212, 255);
    --btn-color: rgb(30, 45, 210);
    box-shadow: 0 0 .05em .05em var(--glow-color),
                0 0 1em .25em var(--glow-spread-color),
                inset 0 0 .05em .05em var(--glow-color);
    text-shadow: 0 0 .05em var(--glow-color);

    cursor: pointer;
    position: relative;
    padding: 24px 40px;
    margin: 20px 0 50px;
    font-size: 2.1em;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--glow-color);
    background: var(--btn-color);
    border: 0.05em solid var(--glow-color);
    border-radius: 0.8em;
    transition: all 0.3s ease;
    outline: none;
    font-family: futura;
}

#gotoRemixer:hover {
    z-index: 1;
    border-color: transparent;
    color: var(--btn-color);
    background: #00a19d;
    box-shadow: 0 0 .025em .025em var(--glow-color),
                0 0 1em .5em var(--glow-spread-color),
                inset 0 0 .025em .025em var(--glow-color);
}

@keyframes glow {
    from {
        background-position: 0%;
    }
    to {
        background-position: 400%;
    }
}

audio {
    margin: 20px auto;
    width: 100%;
    border: 2px solid #333;
    border-radius: 20px;
    background: #f3f3f3;
    transition: box-shadow 0.3s ease-in-out;
    outline: none;
}

audio:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

audio::-webkit-media-controls-panel {
    background-color: transparent;
}

canvas {
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
    /* border: 3px solid #000; */
    background-color: #fff;
}

@keyframes left-move {
    0% {
        transform: translate(500px);
    }
    100% {
        transform: translate(0px);
    }
}

.index-popup {
    position: absolute;
    top: 140px;
    right: 10px;
    height: 45px;
    max-width: 142px;
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    line-height: 22px;
    animation: left-move 2s ease;
    z-index: 99999;
    font-family: futura;
}

.index-popup span {
    font-size: 1.5em;
    font-weight: 600;
    color: rgba(255, 30, 0, 0.8);
}


.body-foot {
    width: calc(100% - 120px);
    background-color: #f0f0f0;
    padding: 50px 60px 20px 60px;
    border-top: 2px solid #36393e;
    position: fixed;
    left: 0;
    bottom: 0;
}

.body-foot .foot-container {
    flex: 1 1 0%;
    position: relative;
    border-bottom: 1px solid #5c657f;
}

.body-foot .foot-bottom {
    display: block;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: #9aa1a7;
    font-family: futura;
}

.catagories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.catagories .column {
    margin: 0 0 50px 0;
    width: 215px;
    text-align: center;
}

.catagories .column>a {
    color: #000;
    background-color: transparent;
    font-size: 1.5em;
    line-height: 50px;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.catagories .column a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 50%;
    background-color: #4a4ade;
    transition: width 0.3s ease, left 0.3s ease;
}

.catagories .column a:hover {
    color: #4a4ade;
}

.catagories .column a:hover::after {
    width: 100%;
    left: 0;
}

article, .body-foot {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width: 996px) {
    canvas {
        height: 125px;
    }
}

@media screen and (max-width: 720px) {
    .catagories {
        flex-direction: column;
    }
}