<!-- <!DOCTYPE html>
<html>
<script src="https://d3js.org/d3.v7.js"></script>
<body>
<h2>Scatter-Plot</h2>

<div id="d3_scatterplot"></div>

<script src="static/scatterplot.js"></script>

</body>
</html> -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
                background: #f0f0f0;
            }
            #controls {
                margin-bottom: 20px;
            }
            canvas {
                border: 1px solid #000;
                background-color: #fff;
            }
        </style>
    </head>
<script src="https://d3js.org/d3.v7.js"></script>
<body>

<h3>{{ audiofile }} plot</h3>

<div id="my_dataviz"></div>

<!-- <svg id="myPlot" style="width:500px;height:500px"></svg> -->
<!-- <script src="{{ url_for('static', filename='scatterplot-w3.js') }}"></script> -->

<script src="{{ url_for('static', filename='scatterplot.js') }}"></script>

</body>
</html>
