<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style/audio_viz.css') }}">
        <title>Remix | The Big Voice</title>
    </head>
    <script src="https://d3js.org/d3.v7.js"></script>
    <body>
        <header>
            <div class="back">
                <button id="backButton">⬅ Back</button>
            </div>
            <h1>The Big Voice</h1>
        </header>
        <article>
            <div id="controls">
                <h3>{{ username }} sound map</h3>
                <div id="my_dataviz"></div>
            </div>
        </article>

    <!-- <svg id="myPlot" style="width:500px;height:500px"></svg> -->
    <!-- <script src="{{ url_for('static', filename='scatterplot-w3.js') }}"></script> -->
    <script> 
        const backButton = document.getElementById('backButton');
        // d3 gallery https://d3-graph-gallery.com/graph/scatter_basic.html
        // set the dimensions and margins of the graph
        // 设置图表的尺寸和边距
        const margin = { top: 0, right: 0, bottom: 15, left: 25 };
        let width = window.innerWidth * 0.95 - margin.left - margin.right;
        let height = window.innerHeight * 0.8 - margin.top - margin.bottom;

        // 创建SVG对象
        const svg = d3.create("svg")
            .attr("viewBox", [0, 0, width + margin.left + margin.right, height + margin.top + margin.bottom])
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom);

        // 追踪当前的缩放变换
        let currentTransform = d3.zoomIdentity;
        
        // Add X axis
        const x = d3.scaleLinear()
            .domain([-40, 40])
            .range([0, width]);

        // Add Y axis
        const y = d3.scaleLinear()
            .domain([-5, 5])
            .range([height, 0]);

        const xAxis = d3.axisBottom(x);
        const yAxis = d3.axisLeft(y);

        function zoomed(event) {
            currentTransform = event.transform;
            const zx = currentTransform.rescaleX(x).interpolate(d3.interpolateRound);
            const zy = currentTransform.rescaleY(y).interpolate(d3.interpolateRound);

            gDot.attr("transform", currentTransform).attr("stroke-width", 5 / currentTransform.k);
            gx.call(xAxis.scale(zx));
            gy.call(yAxis.scale(zy));
        }

        const zoom = d3.zoom()
            .scaleExtent([0.5, 32])
            .on("zoom", zoomed);
        const gDot = svg.append("g")
        const gx = svg.append("g")
            .attr("transform", `translate(${margin.left}, ${height + margin.top})`);
        const gy = svg.append("g")
            .attr("transform", `translate(${margin.left}, ${margin.top})`);

        d3.select("#my_dataviz").node().appendChild(svg.node());

        backButton.addEventListener('click', () => {
            window.location.href = '/';
        });

        d3.csv('/data/data_2d.csv').then(function(data) {
            // console.log(data);
            let audioFiles_raw = data.map(function(d) { return d.audiofile; }); // locally available
            let audioFiles = Array.from(new Set(audioFiles_raw)); // merged repeated ones
            console.log(audioFiles);
            var audioElements = {}; // dictionary-like
            audioFiles.forEach((audioSrc, index) => {
                const audioElement = document.createElement('audio');
                audioElement.src = '/audio/'.concat(audioSrc); // concat folder with filename
                document.body.appendChild(audioElement);
                // audioElements.push(audioElement); // for let audioElement = [];
                audioElements[audioSrc] = audioElement;
            });
            console.log(audioElements);
            scatterplot_visualize(data, "#28713E", audioElements); // highlight with another color
        });

        function scatterplot_visualize(data, dotColor, audioElements) {
            const z = d3.scaleOrdinal()
                .domain(data.map(d => d.audiofile))
                .range(d3.schemeCategory10);

            // Add X & Y axis
            gx.call(xAxis);
            gy.call(yAxis);
        
            let isUserInteracted = false;
            // Listen for user interaction
            document.body.addEventListener('pointerdown', function () {
                isUserInteracted = true;
            });

            // Add dots
            gDot.selectAll("circle")
                .data(data)
                .join("circle")
                .attr("cx", d => x(d.tsne1))
                .attr("cy", d => y(d.tsne2))
                .attr("r", 5)
                .attr("fill", dotColor)
                .style("opacity", 0.5)
                .style("stroke", "white")
                .on("mouseover", function(event, d) {
                    d3.select(this)
                        .transition()
                        .duration(200)
                        .attr("r", 10);
                
                    if (isUserInteracted) {
                        const startTime = parseFloat(d.start_time_sec);
                        const endTime = parseFloat(d.end_time_sec);
                        console.log(startTime);
                        if (!isNaN(startTime) && !isNaN(endTime) && startTime < endTime) {
                            // Set audio to start time and play
                            Object.values(audioElements).forEach(audio => {
                                audio.pause();
                                audio.currentTime = 0;
                            });
                            audioElements[d.audiofile].currentTime = startTime;
                            audioElements[d.audiofile].play();
                            // Calculate duration
                            const duration = endTime - startTime;
                            // Stop audio
                            setTimeout(() => {
                                audioElements[d.audiofile].pause();
                                audioElements[d.audiofile].currentTime = 0; // Reset to start
                            }, duration * 1000); // Convert duration to milliseconds
                        } else {
                            console.error("Invalid start or end time:", d.start_time_sec, d.end_time_sec);
                        }
                    }
                })
                .on("mouseleave", function(event, d) {
                    d3.select(this)
                    .transition()
                    .duration(200)
                    .attr("r", 5);
                    //停止播放
                    audioElements[d.audiofile].pause();
                    audioElements[d.audiofile].currentTime = 0; //重置
                });
            
            // 应用缩放行为到 SVG
            svg.call(zoom);

            svg.on("click", function(event) {
                // 获取点击位置
                const [clickX, clickY] = d3.pointer(event);
                const transformedX = currentTransform.invertX(clickX);
                const transformedY = currentTransform.invertY(clickY);

                // 添加一个新的圆圈到点击位置
                svg.append("circle")
                    .attr("cx", clickX)
                    .attr("cy", clickY)
                    .attr("r", 50)
                    .attr("stroke", "black")
                    .attr("stroke-width", 3)
                    .attr("fill", "none");
        
                // 播放所有在圈内的音频
                gDot.selectAll("circle").each(function(d) {
                    const cx = x(d.tsne1);
                    const cy = y(d.tsne2);
                    const distance = Math.sqrt((currentTransform.applyX(cx) - clickX) ** 2 + (currentTransform.applyY(cy) - clickY) ** 2);
                    if (distance <= 50) {
                        const audioElement = audioElements[d.audiofile];
                        const startTime = parseFloat(d.start_time_sec);
                        const endTime = parseFloat(d.end_time_sec);
                        if (!isNaN(startTime) && !isNaN(endTime) && startTime < endTime) {
                            audioElement.currentTime = startTime;
                            audioElement.play();
                            const duration = endTime - startTime;
                            setTimeout(() => {
                                audioElement.pause();
                                audioElement.currentTime = 0;
                            }, duration * 1000);
                        }
                    }
                });
            });
        }
    </script>
    <!-- <script src="{{ url_for('static', filename='scatterplot.js') }}"></script> -->

    </body>
</html>
