<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style/index.css') }}">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <title>Record your surroundings</title>
</head>

<body>
    <header>
        <h1>Urban Sound Diary</h1>
        <div class="user">
            <button id="loginButton">Login</button>
        </div>
    </header>
    <article>
        <div id="elements">
            <div id="controls">
                <button id="recordButton">Start</button>
            </div>
            <div id="recordingsList"></div>
        </div>
        <div class="index-popup">
            <span>Please login before record!</span> <br>
        </div>
        <button id='gotoRemixer'>Go to Remixer ➡ </button>
        
    <script src="{{ url_for('static', filename='audio.js') }}"></script>
    <script>
        console.log('current user: {{ username }}');
        const nextButton = document.getElementById('gotoRemixer');
        nextButton.addEventListener('click', () => {
            window.location.href='/loading/' + '{{ username }}'; // uncomment it to use the loading page
            // window.location.href='/remix/' + fileName; // comment it to use the loading page
        });
    </script>

    </article>

    <footer class="body-foot">
        <div class="foot-container">
            <div class="catagories">
                <div class="column">
                    <a href="https://soundstudiesgroup.net/" target="_blank">Sound Studies Group</a>
                </div>
                <div class="column">
                    <a href="https://soundstudiesgroup.net/" target="_blank">Related Links</a>
                </div>
                <div class="column">
                    <a href="https://soundstudiesgroup.net/" target="_blank">About</a>
                </div>
            </div>
        </div>
        <div class="foot-bottom">
            Copyright © 2024, Sound Studies Group, SUSTech
        </div>
    </footer>
</body>
</html>
